.gerenciar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.zerarInformacoes {
  margin-top: 35px;
  width: 350px;
  height: 35px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  background-color: #274073;
  font-size: 18px;
  transition: 0.2s;
  border:none!important;
}

.zerarInformacoes:hover{
  cursor: pointer;
  background-color: #294973;
  transition: 0.2s;
}

.imgGerenciar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 45px;
}

.msgmGerenciar {
  margin-top: 35px;
}
