.mainLogin {
  display: flex;
  width: 100%;
  height: 95vh;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/login-background.jpg");
  background-size: cover;
}

.formLogin {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 350px;
  background-color: rgba(245, 246, 250, 0.55);
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
}

.formLogin button{
  width: 175px;
  height: 35px;
  background-color: #274073;
  color: white;
  font-weight: 600;
  font-size: 18px;
  transition: 0.2s;
  border:none!important;
  border-radius: 10px;
}

.esqueceuSenha{
  font-size: 17px;
  font-weight: 500;
}
.naoTemConta{
  font-size: 17px;
  font-weight: 500;
}

.esqueceuSenhaLink:hover{
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  color: #274073;
}
.naoTemContaLink:hover{
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  color: #274073;
}

.esqueceuSenhaLink{
  font-size: 17px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 50px;
}

.naoTemContaLink{
  font-size: 17px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 50px;
}

.containnerButtons{
  margin-top: 10px ,;
}
.containnerButtons a{
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.formTitle{
  color: #294973;
  font-weight: 600;
  margin-top: 15px;
}

.formFooter{
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formMain{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.styleInput{
  border-radius: 7px;
  width: 100%;
  height: 35px;
  padding: 5px;
  font-size: 18px;
  color: #294973;
  font-weight: 600;
  background-color: #ecf0f1;
  border:none!important;
  border: 1px solid #ccc;
  outline: none;
  margin: 15px;
}

.formLogin button:hover{
  cursor: pointer;
  background-color: #294973;
  transition: 0.2s;
}
