.titulo {
  margin-top: 35px;
  font-size: 35px;
}

.opinar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.listagem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
